.app {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #fff;
	perspective: 1000px;
	perspective-origin: left center;

	section {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}

	section.welcome {	

		.content {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translate3d(0, -50%, 0);

			h1 {
				position: relative;
				font-family: "Gotham Bold";
				font-size: 100px;
				line-height: 80px;
				letter-spacing: -6px;
				height: auto;
				width: 100%;
				width: 100%;
				color: #222;
				margin: 0;
				padding: 0;
				padding-left: 20px;

				span {
					height: auto;
					display: block;
				}

			}

			ul {
				position: relative;
				font-family: "Didot";
				font-size: 30px;
				list-style: none;
				padding-left: 5px;
				margin-top: 20px;

				li {
					position: relative;
					height: 30px;

					div {
						position: absolute;
						top: 0px;
						left: 25px;
						height: 100%;
						width: 300px;
						background-color: #222;
					}

					span {
						position: absolute;
						color: #fff;
						padding: 5px;
						padding-left: 25px;
						margin-bottom: 5px;
						line-height: 10px;
						cursor: pointer;
						z-index: 1;
					}

					.highlight {
						color: #000;
					}
				}
			}
		}
	}
}