@font-face {
  font-family: 'Gotham Bold';
  src:  url('../assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Bold.otf') format('opentype'),
        url('../assets/fonts/Gotham-Bold.woff') format('woff'),
        url('../assets/fonts/Gotham-Bold.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src:  url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Book.otf') format('opentype'),
        url('../assets/fonts/Gotham-Book.woff') format('woff'),
        url('../assets/fonts/Gotham-Book.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src:  url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Medium.otf') format('opentype'),
        url('../assets/fonts/Gotham-Medium.woff') format('woff'),
        url('../assets/fonts/Gotham-Medium.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/Didot.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Didot';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('../assets/fonts/Didot.ttf')  format('truetype'), url('../assets/fonts/Didot.svg#Didot') format('svg');
  font-weight: normal;
  font-style: normal;
}
