.app {

	section.welcome {
		p {
			margin-top: -15px;
			letter-spacing: -2px;
			font-size: 50px;
			line-height: 30px;

			span {
				&.text-highlight{
					font-size: 10px;
					line-height: 15px;
					margin-left: 5px;
				}

				&.horizontal-line {
					margin-top: 20px;
					margin-left: 0px;
				}
			}
		}
	}
}