.app {

	section.welcome {
		p {
			margin-top: -15px;
			letter-spacing: -2px;
			font-size: 40px;
			line-height: 30px;

			span {
				&.text-highlight{
					font-size: 10px;
					line-height: 15px;
					margin-left: 5px;
				}

				&.horizontal-line {
					margin-top: 20px;
					margin-left: 0px;
				}
			}
		}
	}

	section.jobs {
		div {
			&:nth-child(1){
				background-image: url('../assets/images/website/thumbs/portrait/nissan_kicks/project.jpg');
			}
			&:nth-child(2){
				background-image: url('../assets/images/website/thumbs/portrait/metting_murilo/project.jpg');
			}
			&:nth-child(3){
				background-image: url('../assets/images/website/thumbs/portrait/custom_made_history/project.jpg');
			}
			&:nth-child(4){
				background-image: url('../assets/images/website/thumbs/portrait/nissan_new_versa/project.jpg');
			}
			&:nth-child(5){
				background-image: url('../assets/images/website/thumbs/portrait/kiss_shit_project/project.jpg');
			}
			&:nth-child(6){
				background-image: url('../assets/images/website/thumbs/portrait/tsi_tech/project.jpg');
			}
			&:nth-child(7){
				background-image: url('../assets/images/website/thumbs/portrait/clck/project.jpg');
			}
		}
	}
}